.notif-body{
  position: absolute;
  top: -120px;
  width: calc(100vw - 20px);
  margin: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.notif-header{
  font-size: 16px;
  font-weight: bold;
  color: #3D3D3D;
  margin-bottom: 8px;
}

.notif-header img{
  width: 20px;
  border-radius: 4px;
  vertical-align: bottom;
}

.notif-header div{
  margin-left: 8px;
  display: inline-block;
}

.notif-body{
  color: #595959;
}

.notif-animated-in{
  animation: notif-animate-in 0.5s 1s cubic-bezier(0,.76,0,.99) forwards;
}

.notif-animated-out{
  animation: notif-animate-in 0.5s cubic-bezier(0,.76,0,.99) forwards;
}

@keyframes notif-animate-in{
  from {top: -120px;}
  to {top: 0px;}
}

@keyframes notif-animate-out{
  from {top: 0px;}
  to {top: -120px;}
}