.recommendCharityScreen{
    color: #373E4D;
    margin-top: 50px;
    padding: 20px;
}
.title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}
.description {
    font-size: 14px;
}
.donationValue{
    color: #00579B;
    font-weight: bolder;
    font-size: 32px;
}
.card-content-ios{
    padding: 0;
    background-color: #F1F5F8;
}
.item-native{
    padding-left: 0;
}