.ionCard{
    margin: 20px 10px;
}
.charityLogo{
    display: flex;
    justify-content: center;
}
.charityBottomContainer{
    padding: 10px !important;
}
.charityTitle{
    font-size: 20px;
    font-weight: bold;
}
.charityDescription{
    max-height:60px;
    line-height:20px;
    overflow:hidden;
    color: #00579B;
    font-size: 14px;
}

.charityTitle{
    font-size: 24px;
    margin: 20px;
    text-align: center;
    color: #373E4D;
}

.charityInnerHTML{
    margin-bottom: 24px;
}

.charityInnerHTML > *{
    display: inline-block;
    margin: 0px 24px 24px 24px;
    color: #373E4D;
    font-size: 16px;
    line-height: 19px;
}

.charityInnerHTML > div{
    margin: 0px 24px 0px 24px;
}

.charityIonItem{
    --border-style: 0px;
}